{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "extends": ["eslint", "plugin:react/recommended"],
  "rules": {
    "indent": "off",
    "dot-notation": "off",
    "semi": 2,
    "valid-jsdoc": [
      2,
      {
        "prefer": {
          "return": "return"
        }
      }
    ]
  }
}